
/*Establishing the defults for the page */
body {
    background-color: #228587;
    color:rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("Images/Background-Pattern.png");
    font-size: 15px;
}

/*for nav bar */
nav{
    background-color:#ffffff;
    color: #ffffff; 
} 
.navbar-brand{
    background-color: teal;
}

/*section desgin*/
section{
    background-color: #ffffff;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 20px;
}
/*Standard title scheme for all pages*/
#sectiontitle{
    font-size: 50px;
    color: teal;
    font-weight: bolder;
    border-bottom: 2px solid grey;
}

/*Picture on about page*/
#image1{
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px;
    padding-left: 10px;  
    clear: both; 
}


/*all text in about me*/
.ParaText{
    border: 0px;
    padding: 5px;
    margin: 5px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .portImg{
      height: 250px;
      width: 250px;
      padding: 10px;
      margin: 10px;
      border: 1px solid black;
      
  }
  

  /* footer formating */
  footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-top:5px solid teal ;
    font-size: 10px;
    text-align: center;
}
