/*Establishing the defults for the page */
body {
    background-color: #228587;
    color:rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("Images/Background-Pattern.png");
}

/*Modification for the name  */
h1{
    background-color: cadetblue;
    color: white;
    align-items: center;

}
/*for nav bar */
nav{
    background-color:#ffffff;
    color: black;
   
    
}


section{
    background-color: #ffffff;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 25px;

}

#sectiontitle{
    font-size: 50px;
    color: teal;
    font-weight: bolder;
    border-bottom: 2px solid grey;
}

#image1{
    height: 200px;
    width: 200px;
  
}

.ParaText{

    size: 35px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .portImg{
      height: 350px;
      width: 350px;
      padding: 15px;
  }

  /* footer formating */
  footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-top:5px solid teal ;
    font-size: 10px;
    text-align: center;
}